.feeds{
  border-bottom: 1px solid #ccc;
  padding-bottom:10px;
  text-align: left;
  margin-top:15px;
}

.author-info{
  text-align: center;
}
.author-info .dp img{
  border-radius: 50%;
  height:50px;
  width: 50px;
}

.feeds_header{
  margin-left: 70px;
}

#sidebar{
  padding-left:50px;
}

.label{
	color:#000;
}

.wwFormTable{
	margin-top: 10px;
}

.feeds-nob{
	border: none;
}